@import "./variables";

.btn {
  border: 0;
  border-radius:$border-radius;
  padding: 5px 25px;
  background-color: $color_3;
  color: white !important;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 300;
  text-decoration: none !important;

  &[disabled] {
    opacity: 0.6;
    cursor: no-drop;
  }

  &--error,
  &--delete {
    background: $color_error;
  }
}
