@import "./variables";

table {
  margin: $padding 0 $padding*2;

  thead {
    tr {
      margin-bottom: $padding;
      text-decoration: underline;
      font-weight: 300;

      td {
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background: $color_2;
      }
      td {

      }
    }
  }
}
